/* Banner ------------------------------------- */
.banner {
    gap: var(--space-3xl);

    padding-top: calc(var(--space-4xl)*2);
    
    height: clamp(60vh, 7.5vh, 100vh);
}

/* Banner contents ---------------- */
.banner *{
    cursor: default;
}

/* main page background ---------------- */
.bannerMain{
    color: var(--shade01);

    background: linear-gradient(-45deg, var(--shade09), var(--shade07), var(--shade05));
    background-size: 400% 400%;
    animation: gradientShift 30s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* project page background ---------------- */
.bannerProject{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--shade01);
}

/* title ----------- */
.banner h1{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-2xl);
    
    line-height: var(--line-height-s);   
}

/* text ----------- */
.banner article.bannerGreetings p{
    font-size: var(--font-size-xl);
    /*
    line-height: var(--line-height-s);
    */
}

.banner article p {
    max-width: var(--character-counter-xs);
}

/* breakpoint: tablet */
@media (min-width: 768px) {
    .banner article p {
        max-width: var(--character-counter-s);
    }
}

/* aside note ----------- */
.banner aside.currentPath {
    width: var(--component-width-3xl);
    justify-content: right;
}
