
/* footer -------------------------- */
footer {
    background-color: var(--shade06);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: var(--space-l);

    min-height: var(--footer-height);
    padding: var(--space-2xl) var(--space-xl);
}


/* footer contents -------------------------- */
footer * {
    color: var(--shade01);
}


/* article -------------------------- */
footer article{
    padding: 0 var(--space-xl);
}

@media (min-width: 768px){
        footer article{
    padding: 0 var(--space-4xl);
    }
}


/* quote -------------------------- */
footer h2 {
    font-style: oblique;
    font-weight: var(--font-weight-m);

    text-align: center;
    
    width: clamp(var(--character-counter-xs), 2ch, var(--character-counter-l));  
}


/* contacts -------------------------- */
footer address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);
}

ul.socialMediaContainer {
    display: flex;
    flex-direction: row;
    justify-items: center;
}


/* links  -------------------------- */
footer .iconTextBtn{
    color: var(--shade01);
}

footer .iconTextBtn:hover{
    color: var(--shade01);
}

footer .iconTextBtn:active{
    color: var(--shade00);
    text-shadow: 1px 0  var(--shade00); 
}

footer address a {
    font-style: normal;
}


/* logo -------------------------- */
div.logoContainer {
    display: inline-block;
    justify-items: center;

    padding: var(--space-s);

    margin-top: var(--space-fixed-l);
}

div.logoContainer a.logo {
    padding-bottom: var(--space-xs);    
}

div.logoContainer * {
    cursor: pointer;
}

div.logoContainer:hover  * {
    color: var(--shade00);
    text-shadow: .5px 0  var(--shade00); 
}

