/* main -------------------------------------------- */
/* section.results -------------------------------------------- */
.results{
    padding-bottom: calc(var(--space-3xl) * 2);    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .results {
        padding-right: 0;
    }
}


/* article.projectsSchools -------------------------------------------- */
.projectsSchools .iconTextBtn{
    background-color: transparent;
    cursor: default;
}

.projectsSchools .iconTextBtn:hover{
    text-shadow: none;
}


/* div.timeline -------------------------------------------- */
div.timeline {
    position: absolute;
    top: var(--font-size-3xl);
    left: calc(var(--space-fixed-l)/1.75 - var(--space-xs)/2);
    /* distancia da esquerda = metade da largura do circulo (.timelineDot) -(menos) metade da largura da espessura da linha (para fazer o acerto ao centro desta); */

    width: var(--space-xs);
    height: 100%;
    background-color: var(--shade05);
    z-index: 0;
}


.projectsSchools:not(:last-child) .timeline {
    display: block;
}


/* esconde a timeline no ultimo curso */
.projectsSchools:last-child .timeline {
    display: none;
}


/* header.schoolContainer -------------------------------------------- */
.projectsSchools header.schoolContainer {
    gap: var(--space-m);
    justify-content: left;

    display: flex;
}


/* span.timelineDot -------------------------------------------- */
span.timelineDot {
    background-color: var(--shade05);

    width: var(--space-fixed-l);
    height: var(--space-fixed-l);
    border-radius: 99px;

    flex-shrink: 0;
    flex-grow: 0;
}


/* article.projectsSchools -------------------------------------------- */
article.projectsSchools {
    position: relative;
}


/* header.iconTextBtn-------------------------------------------- */
header.iconTextBtn {
    padding-top: 0;
}


/* nav.projectCardContainer -------------------------------------------- */
nav.projectCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-xl);

    padding: 0 var(--space-2xl) var(--space-2xl) ;
    /* padding com 0 de altura, dado que o header.iconTextBtn já tem uma "margem/line-height" considerável */  
}

@media (min-width: 768px) {
    nav.projectCardContainer {
        flex-wrap: nowrap;

        overflow-x: auto;
        overflow-y: hidden;
    }

    nav.projectCardContainer::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 1024px) {
    nav.projectCardContainer {
        flex-wrap: wrap;
    }
}

