/* propósito é que as "letras" adoptem uma cor negativa mediante a cor do fundo */

/* servicesAndPath ---------------------------- */
.servicesAndPath {
    background-color: var(--shade01);

    background-image: url(/images/portraid.png);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: 70% -100%;
    background-attachment: fixed;

    justify-content: center;

    height: 250vh;

    display: flex;

    padding: clamp(var(--space-xl), 1.5vw, var(--space-3xl)) 0;
    padding-bottom: var(--space-xl);
}

@media (min-width: 768px) {
    .servicesAndPath {
        background-position: 70% -120%;

        height: 350vh;
    }
}

@media (min-width: 1024px) {
    .servicesAndPath {
        background-position: 70% -150%;
    }
}


/* article ---------------------------- */
.servicesAndPath article{ 
/* construir variaveis e estudar valores */
    position: relative;
 
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: var(--effect-blur-2xl); 

    padding: 
        var(--space-4xl) 
        clamp(var(--space-xl), 1.5vw, var(--space-3xl))
        calc(var(--space-4xl) * 2);
}


/* servicesAndPath p  ---------------------------- */
.servicesAndPath p {
    color: var(--shade10);
    
    max-width: var(--character-counter-m);
    /*
    mix-blend-mode: difference;
    */
}

