
:root{
    /* variables */

    /* ---------------------------------------- */
    /* COLOURS */
    /* shades */
    --shade00: #fff;
    --shade01: #ccc;
    --shade02: #aaa;
    --shade03: #888;
    --shade04: #666;
    --shade05: #444;
    --shade06: #333;
    --shade07: #222;
    --shade08: #111;
    --shade09: #8080;
    --shade10: #000;

    /* filter colours */
    --c-branding: #00ADEE;
    --c-illustration: #EC008D;
    --c-packaging: #FDB018;
    --c-editorial: #EE1C25;
    --c-communication: #00A651;
    --c-uxui-design: #303192;
    --c-photography: #B3B3B3;
    --c-web-dev: #B7B7B7;
    --c-edit: #FFDD06;
    --c-flag: #E74B11;
    --c-iefp: #32A055;
    --c-work: #35BDEF;
    --c-academic: #73DF40;
    --c-sideproject: #E03A3A;
    --c-internship: #DFDF40;
   

    /* ---------------------------------------- */
    /* FONTS */
    --font-main: Helvetica, Arial, sans-serif;

    /* font-sizes */
    --font-size-4xl: 3rem; /* logo */
    --font-size-3xl: 1.8rem; /* h1 */
    --font-size-2xl: 1.6rem; /* h2 */
    --font-size-xl: 1.5rem; /* h3 */
    --font-size-l: 1.16rem; /* botões, links, */
    --font-size-m: 1rem; /* corpo de texto, */ 
    --font-size-s: .8rem; /* notas de rodapé */

    /* line-height */
    --line-height-3xl: calc(var(--f-size-3xl) * 1.5);
    --line-height-2xl: calc(var(--f-size-2xl) * 1.5);
    --line-height-xl: calc(var(--f-size-xl) * 1.5);
    --line-height-l: calc(var(--f-size-l) * 1.5);
    --line-height-m: calc(var(--f-size-m) * 1.5);
    --line-height-s: calc(var(--f-size-s) * 1.5);

    /* font-weight */
    --font-weight-2xl: 900;
    --font-weight-xl: 750;
    --font-weight-l: 600;

    /* character counter */
    --character-counter-l: 200ch;
    --character-counter-m: 100ch;
    --character-counter-s: 50ch;

    /* ---------------------------------------- */
    /* SPACING */
    --space-3xl: 6rem;
    --space-2xl: 4rem;
    --space-xl: 2rem;
    --space-l: 1.33rem; /* padding vertical dos botões, margem entre botões do header */
    --space-m: 1rem;
    --space-s: .5rem;
    --space-xs: .25rem;

    /* height */
    --banner-heigh: 60vh;
    --section-heigh: 80vh;
    --footer-heigh: 70vh;

    /* width */
    --component-width-3xl: 100%;


    /* ---------------------------------------- */
    /* LINE-WEIGHT */
    --border-bottom: var(--space-xs) solid var(--shade06);


    /* ---------------------------------------- */
    /* grid & layout */
    /* aplicar valores das grids e possivelmente dos breakpoints
    /* ---------------------------------------- */
    /* z-index */
    /* caso faça sentido, para trabalhar na parte dos resultados dos filtros
    /* ---------------------------------------- */
    /* transitions & animations */
    /* a modos de manter coerência em todo o projecto */
}

/* reset css */
a, button, address{
    text-decoration: none;
    color: var(--shade10);

    font-size: var(--font-size-l);

    display: inline-flex;
    padding: var(--space-m) var(--space-l);
    border: none;

    cursor: pointer;
}

ul{
    list-style: none;
    padding-left: 0;
}


/* html */
html{
    background-color: var(--shade01);

    font-family: var(--font-main);
    font-size: 20px;
    color: var(--shade06);

    /*
    width: 80%;
    display: flex;
    justify-self: center;
    */
}


/* elements */

.material-symbols-outlined{
    background-color: yellow;
    font-variation-settings:
    'FILL' 0, /* 0=outlined; 1=filled; */
    'wght' 400, /* weight */
    'GRAD' 0, /* grade */
    'opsz' 24, /* size */;
}

.logo{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-2xl);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: var(--space-3xl);
    padding-bottom: var(--space-xl);
    min-height: var(--section-heigh);
}

/* header */
header{
    width: var(--component-width-3xl);

    padding-top: var(--space-l);

    display: flex;
    gap: var(--space-l);
    
    background-color: #00A651;
}

.headerNav{
    position: fixed;
    z-index: 9;   
}

/* rever o que pode ser universalizado */
header > ul {
    width: var(--component-width-3xl);

    display: flex;
    flex-wrap: wrap;

    gap: var(--space-l);
    justify-content: right;
    align-items: center;

    background-color: yellow;
}

header a{
    text-transform: uppercase;
}

.btn{
    background-color: red;
}

/* banner */
.banner{
    background-color: #35BDEF;
    
    gap: var(--space-3xl);   

    /* a lembrar! deve respeitar grid de 12 colunas */
    min-height: var(--section-heigh);    
}

.banner aside.currentPath{
    width: var(--component-width-3xl);
    text-align: right;
    background-color: red;
}

.banner article p{
    max-width: var(--character-counter-s);
    background-color: red;
}


/* main */
/* filters */
/* DEFINIR ICONES EM PX, JÁ COM RESIZE PARA OS VARIOS BREAKPOINTS */
.icon{
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);

    padding: var(--space-s);

    display: inline-flex;
    align-content: center;

    text-align: center;

    background-color: red;
}
/*
.iconL{    
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);

    padding: var(--space-s);

    background-color: red;
}

.iconM{    
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);

    padding: var(--space-s);

    background-color: yellow;
}

.iconS{    
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);

    padding: var(--space-s);

    background-color: blue;
}
*/
/* MUDAR Icon... PARA icon... !!!!! */
.IconTextBtn{
    display: flex;
    align-items:center;
        
    flex-direction: row;
    gap: var(--space-s);
}

.IconTextBtnReversed{
    flex-direction: row-reverse;
}

.filtersContainer{
    display: flex;
    flex-direction: row;
    background-color: green;
}

.filtersContainer > h3{
    background-color: red;
}

.filtersContainer > ul{
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
    flex-wrap: wrap;
}

/* projects */
div.timeline {
    position: absolute;
    top:  var(--font-size-3xl);
    left: calc(var(--font-size-3xl)/2);
    width: var(--space-xs);
    height: 120%;
    background-color: var(--shade06);
    z-index: 0;
}

section.projects .icon{
    /* anteção que está a distorcer mediante zoom. definir icones para valores fixos? ou meter valores minimos? */
    border-radius: 999px;
}

header.IconTextBtn{
    padding-top: 0;
    background-color: yellow;
}


/*
.projectCardMinimal{
    height: 158px;
    width:  158px;

    background-color: red;
    
}
*/

article.projectsSchools {
    position: relative;
}

/* Project Card */
.projectCard{
    /*
    background-image: url(Free_A4_Brochure_Mockup_02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    */

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: end;

    width: calc(var(--space-2xl) * 4);

    padding: var(--space-l);

    background-color: red;
}

.pDescription{
    padding-top: calc(var(--space-2xl) * 2);
}

.pInnerLink{
    background-color: yellow;
}

/* servicesAndPath */
.servicesAndPath{
    background-color: var(--shade01);

    /*ajustar altura. meter para baixo*/
    background-image: url(portraid.png);
    background-size: 40%; /* reajustar, dado que altura fica minuscula quando se reduz altura do viewport */
    background-repeat: no-repeat;
    background-position: 70% 100%;
    background-attachment: fixed;

    justify-content: center;

    height: 250vh;
}

.servicesAndPath p{
    max-width: var(--character-counter-s);
}

/* valuesAndMethods */
.valuesAndMethods{
    background-color: yellow;

    display: flex; /* section */
    flex-direction: column; /* section */
    align-items: center; /* section */
    justify-content: end; /* section */       
}

.valuesAndMethods p{
    max-width: var(--character-counter-s);
}


/* footer */
footer{
    background-color: var(--shade06);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: var(--space-l);

    min-height: var(--footer-heigh);
    padding: var(--space-2xl) var(--space-xl);
}

footer *{
    color: var(--shade01);
}

address{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);
    background-color: blue;
}
ul.socialMediaContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;

    background-color: green;
}

/* logo */
div.logoContainer{

    display: inline-block;
    justify-items: center;

    padding: var(--space-s);
}

