/* banner ------------------------------------- */
.banner {

    color: var(--shade01);

    gap: var(--space-3xl);

    /* a lembrar! deve respeitar grid de 12 colunas */


    /* PERCEBER COMPORTAMENTO E AJUSTAR MEDIANTE */

    padding-top: calc(var(--space-4xl)*2);

    /*
    min-height: calc(var(--banner-height));  
    */
    
    height: clamp(60vh, 7.5vh, 100vh);
    /*
    max-height: var(--total-height);
*/

  background: linear-gradient(-45deg, var(--shade09), var(--shade07), var(--shade05));
  background-size: 400% 400%;
  animation: gradientShift 30s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.banner *{
    cursor: default;
}

.banner h1{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-2xl);
    
    line-height: var(--line-height-s);   
    
}

.banner article.bannerGreetings p{
    font-size: var(--font-size-xl);
    /*
    line-height: var(--line-height-s);
    */
}

.banner article p {
    max-width: var(--character-counter-xs);

}

.banner aside.currentPath {
    width: var(--component-width-3xl);
    text-align: right;

}


/* breakpoint: tablet */
@media (min-width: 768px) {
    .banner article p {
        max-width: var(--character-counter-s);
    }
}
