a,
button,
address {
    text-decoration: none;
    color: var(--shade10);

    font-size: var(--font-size-l);

    display: inline-flex;
    justify-content: center;
    align-content: center;

    padding: var(--space-m) var(--space-l);
    border: none;

    cursor: pointer;
}

a{
    text-align: center;
}

ul{
    list-style: none;
    padding-left: 0;
}

.disabled{
    color: var(--shade02);
}

.iconBackup{
    background-color: var(--shade04);
    border-radius: 100px;
}
/* html */
html {
    margin: 0;
    padding: 0;


    background-color: var(--shade01);

    font-size: clamp(16px, 1.5vw, 20px);
    /* ao invés de usar @media(min-width){...} para ajustar o tamanho da fonte, este serve para um reajuste mais fluído do resize */

    font-family: var(--font-main);
    color: var(--shade06);

    /*
    width: 80%;
    display: flex;
    justify-self: center;
    */
}  

@media (min-width: 1024px){
    section:not(.banner){

    width: 80vw;
    margin: 0 auto;
    }
}

/* elements */

section {
    display: flex;
    flex-direction: column;
    
    justify-content: end;


    padding: clamp(var(--space-xl), 1.5vw, var(--space-3xl));
    padding-bottom: var(--space-xl);
    /*
    min-height: var(--section-height);
    */

    height: fit-content;
}

.logo {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-2xl);

    transition: color var(--time-xl) ease-in-out;
    transition: text-shadow var(--time-m) ease-in-out;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        /* 0=outlined; 1=filled; */
        'wght' 400,
        /* weight */
        'GRAD' 0,
        /* grade */
        'opsz' 24,
        /* size */
        ;
}

.icon {
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);

    padding: var(--space-s);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

/*
.iconL{    
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);

    padding: var(--space-s);

    background-color: red;
}

.iconM{    
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);

    padding: var(--space-s);

    background-color: yellow;
}

.iconS{    
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);

    padding: var(--space-s);

    background-color: blue;
}
*/

/* buttons ----------------------------------- */
.btn {
    text-transform: uppercase;
    font-weight: var(--font-weight-l);

    position: relative;    
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: var(--space-xs);
  width: 0%;
  background-color: currentColor;
  transition: width var(--time-m) ease-in-out;
}

.btn:hover::after, .btn:focus::after {
  width: 100%;
}

.btn:active {
  color: var(--shade10);
}

.disabled::after {
  content: none;
}

.disabled::after, .btn:focus::after {
  width: 0;
}


/* ------------ */

.iconTextBtn {
    display: flex;
    align-items: center;
    gap: var(--space-xs);

    flex-direction: row;

    color: var(--shade06);

    position: relative; 

    padding: var(--space-xs) var(--space-m) var(--space-xs) var(--space-xs);
    transition: text-shadow var(--time-s) ease-in-out;
}

.iconTextBtn:hover img{
    transition: background-color var(--time-m) ease-in-out;
}

.iconTextBtn:hover{  
    color: var(--shade06);
    text-shadow: 1px 0 currentColor;
}

.iconTextBtn:hover img{  
    background-color: var(--shade01);
}

.iconTextBtn:hover .material-symbols-outlined{
  font-variation-settings: 
    'FILL' 1, 
    'wght' 800, 
    'GRAD' 0, 
    'opsz' 24;    
}

.active{
    color: var(--shade10);
    text-shadow: 1px 0  var(--shade10);  
}

.active .material-symbols-outlined{
  font-variation-settings: 
    'FILL' 1, 
    'wght' 800, 
    'GRAD' 0, 
    'opsz' 24;
}

.active img{  
    background-color: var(--shade02);
}

/* ---------------------------- */ 
.iconTextBtnReversed {
    flex-direction: row-reverse;
}

/* specs ---------------------- */


.clickable:hover{
    cursor: pointer;
}

.close {
    display: none;
}

