/* header ------------------------------------------ */

header{
    background-color: var(--shade00);

    width: 100%;
    height: fit-content;

    padding-top: var(--space-l);
    padding-bottom: 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    gap: var(--space-l);

    transition: 
        transform var(--time-l) ease-in-out,              
        opacity var(--time-xl) ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

@media (min-width: 1024px) {
    header {
    background-color: none;

    height: var(--space-3xl);
    width: 80vw;

    padding-bottom: var(--space-s);
    padding-top: 0;
    padding-right: 10.5vw;
    padding-left: 9.5vw;
    }
}

/* esconde header apenas em laptop */
@media (min-width: 1024px) {
    .closeInLaptop {
    transform: translateY(-100%);
    opacity: 0;
    }
}

header .logo {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-2xl);
    color: var(--shade05);
}

header .logo:hover {
    color: var(--shade10);
}

header .logo:active {
    color: var(--shade02);
}

/*
/* breakpoint: tablet */
/*
@media (min-width: 768px) {
    header {
        width: var(--component-width-3xl);
        height: fit-content;

        padding-top: var(--space-l);
        padding-bottom: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-l);

        background-color: #00A651;
    }
}
*/
.openedHeader {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 90vh;

    padding-top: var(--space-l);
    padding-bottom: var(--space-2xl);

    overflow-y: auto;
    overscroll-behavior: contain;

    flex-direction: column-reverse;

    gap: var(--space-2xl);

    z-index: 9;

    background-color: var(--shade00);
}

.closedHeader {
    position: fixed;
    z-index: 9;
}

.headerNavClass {
    position: fixed;
    z-index: 9;
}

.headerMenuToogle button:hover .material-symbols-outlined{
  font-variation-settings: 
    'FILL' 1, 
    'wght' 800, 
    'GRAD' 0, 
    'opsz' 24;    
}


/* breakpoint: mobile */
ul.headerMenuToogle {
    display: flex;
    justify-content: right;
    width: var(--component-width-3xl);


}

/* breakpoint: tablet */
@media (min-width: 768px) {
    ul.headerMenuToogle {
        display: none;
    }

    .openedHeader ul.headerMenuToogle {
        display: flex;
    }

    .openedHeader ul.navMenu {

        flex-direction: column;

        justify-content: end;

    }
}

/*
/* breakpoint: mobile */
/*
a.navOpen {
    display: flex;
}

/* breakpoint: tablet */
/*
@media (min-width: 768px) {
    a.navOpen {
        display: none;
    }
}

/* breakpoint: mobile */
/*
.navClose {
    display: flex;
}

/* breakpoint: tablet */
/*
@media (min-width: 768px) {
    .navClose {
        display: none;
    }
}



/* breakpoint: mobile */
/* rever o que pode ser universalizado !!!!!! */

.navMenu {
    width: var(--component-width-3xl);
    height: 100%;

    display: none;
    flex-direction: column;

    gap: var(--space-l);
    justify-content: end;
    align-items: center;
}

.navMenu.open {
    display: flex;
}

/* breakpoint: tablet */
@media (min-width: 768px) {
    .navMenu {
        width: var(--component-width-3xl);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: var(--space-l);
        justify-content: right;
        align-items: center;

    }
}

header a {
    text-transform: uppercase;

    font-size: var(--font-size-m);
}



