
/* main -------------------------------------------- */

/* filters ------------------------------------------*/
.filtersMenuContainer {
    display: flex;
    justify-content: space-between;

    position: sticky;

    top: var(--space-4xl);
    background-color: var(--shade00);

    border-top: 2px solid var(--shade01) ;
    z-index: 3;
}

@media (min-width: 1024px) {
    .filtersMenuContainer {        
        top: calc(var(--space-3xl) + var(--space-s));

            padding-right: 10.5vw;
    padding-left: 9.5vw;
    }

}

.filtersContainer .iconTextBtn{
    color: var(--shade04);
}

.filtersContainer .iconTextBtn:hover{  
    color: var(--shade06);
    text-shadow: 1px 0 currentColor;
}

.filtersContainer .active{
    color: var(--shade10);
    text-shadow: 1px 0  var(--shade10);
  
}


@media (max-width: 768px) {
    .filtersMenuContainer {
        justify-content: space-between;
        top: var(--space-4xl);
    }

    .filtersMenuContainer button {
        background-color: var(--shade00);
    }

    .filtersContainer ul {
        display: flex;
        flex-direction: column;

        gap: var(--space-s);
   
        width: 100%;        
    }

    .filtersContainer li{    
        width: 100%;
    }

    .filtersContainer button{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}  

/* breakpoint: tablet */
@media (min-width: 1024px) {
    .filtersMenuContainer {
        flex-direction: row-reverse;
        justify-content: left;        
    }
}

/* DEFINIR ICONES EM PX, JÁ COM RESIZE PARA OS VARIOS BREAKPOINTS */


.filtersGroup {
    display: flex;
    flex-direction: column;

    gap: var(--space-2xl);
}


/* breakpoint: tablet */
/*
@media (min-width: 768px) {
    .filtersGroup {
        display: flex;
    }
}
*/
/*
.filtersGroup.open {
    display: flex;
}
*/

.buttonToogleLegend{
    display: none;
}

/* breakpoint: tablet */
@media (min-width: 1024px){
.buttonToogleLegend
{
    display: inline-flex;    
}
}


/*
.filterResetButton{
    transition: all var(--time-2xl) ease-out;
}
    */

.filtersContainer {
    display: flex;
    flex-direction: column; 
}


/* breakpoint: tablet */
@media (min-width: 768px) {
    .filtersContainer {

        flex-direction: row;
    }
    .filtersGroup {

        flex-direction: column;
        gap: var(--space-l);
    }   

        .filtersContainer > h3{
        width: var(--space-3xl);
    }

    .filtersContainer ul{
        justify-content: flex-start;

        width: 100%;
        padding: var(--space-xs) var(--space-s) var(--space-s);
    }
}

.filtersContainer>h3 {
    text-transform: uppercase;
    text-align: left;

    font-size: var(--font-size-s);

    padding: var(--space-s);
}

/* breakpoint: tablet */
@media (min-width: 768px) {
    .filtersContainer>h3 {
        text-align: right;
    }
}

.filtersContainer>ul {
    flex-direction: column;
    
}

/* breakpoint: tablet */
@media (min-width: 768px) {
    .filtersContainer>ul {
        display: flex;
        flex-direction: row;
        gap: var(--space-s);
        flex-wrap: wrap;
    }
}

.filters {
    display: none;

    z-index: 2;
    transform: translateX(-100%);

    background-color: var(--shade00);

    transition: transform var(--time-m) ease-in-out;

}

.filters.open {
    display: flex;

    top: calc(var(--space-3xl)* 1.88);

    transform: translateX(0);
    position: static;
    overflow-y: auto;
    touch-action: cross-slide-y;

    transition: display var(--time-m) ease-in-out;
}

/* EXPERIMENTOS */
@media (max-width: 768px){
/*
    .filtersBackground{

        display:inline;
        position:absolute;
        width: 100vw;
    height: 100vh;

    background-color: var(--shade07);
    opacity: .5;

    filter: blur(10px);
    
    }
    */


    
.filters.open{
    
    display: block;
    position: sticky;

    width: 60vw;
    height: 100vh;
    
/*
    padding-top: var(--space-l);
    padding-bottom: var(--space-2xl);
    */
/*
    
    overscroll-behavior: contain;*/
    


    overflow-y: auto;
/*
    z-index: 10;
    transform: translateX(0);
    /*
    overflow-x: hidden;
    */
    }
/*
    .filters.open::-webkit-scrollbar {
        
    }
*/

}

@media (min-width: 1024px){
    .filtersGroup {

        flex-direction: column;
        gap: var(--space-l);
    }   

        .filtersContainer > h3{
        width: var(--space-3xl);
    }

    .filtersContainer ul{
        justify-content: flex-start;

        width: 100%;
        padding: var(--space-xs) var(--space-s) var(--space-s);
    }
}

/*
/* breakpoint: tablet *//*
@media (min-width: 768px) {
    .filters {
        display: flex;
        transform: translateX(0);
    }
}
*/